*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #nav{
        width: 100%;
        height: 80px;
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    #option{
        width: 60%;
        display: flex;
        justify-content: space-around;
    } 
    #option a{
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
    }
    #login{
        width: 120px;
        display: flex;
        justify-content: space-around;
    }
    #login>a{
        text-decoration: none;
        color: black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    #login>span{
        font-weight: bolder;
    }
    #top{
        margin: auto;
        width: 100%;
    }
    #top>img{
        width: 100%;
    }
    #logo{
         width: 120px;
    }
    #logo img{
         width: 100%;
    }
    #menu>img{
        width: 30px;
    }
    #menu>img:nth-child(2){
        width: 35px;
    }
    #menu{
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
     
    #option>a:nth-child(1):hover{
        font-weight: bold;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /* width: 500px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content>div{
        padding: 40px;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .dropdown:hover .dropdown-content img{
        width: 250px;
    }
    .dropdown:hover .dropdown-content h2,p{
        margin-bottom: 10px;
        cursor: pointer;
    }
      
      .dropdown:hover .dropbtn {font-weight: bolder;}

      #filter{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 5px;
      }
      #container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
      }
      #container img{
        width: 50%;
      }
      #container>div{
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 10px;
        line-height: 28px;
      }
      #container button{
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-weight: bold;
        background-color: rgb(120, 225, 237);
      }
      #cartLogo{
        width: 32px;
      }

      @media all and (min-width: 551px) and (max-width: 1000px) {
        #nav>#option{
            display: none;
        }
        #container{
            grid-template-columns: repeat(3,1fr);
        }
      }
      @media all and (max-width: 550px) {
        #nav>#option{
            display: none;
        }
        #container{
            grid-template-columns: repeat(2,1fr);
        }
      }